###########################################################################
# Babel IDE CSS snippets
###########################################################################

snippet /*-- "" 
/*-------------------------------------------------------------------------
 * ${1}
 * ----------------------------------------------------------------------*/
${0}
endsnippet
